<style>
    input[type = text]{
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-repeat: no-repeat;
        padding-left: 40px;
    }
    input[type = text]:focus{
        background-color: aliceblue;
    }
</style>

<form action="{{ url_for('list_title') }}" method="post">
    <p style="color: red ;">Please use a capital letter for the first letter</p>
    <input type = "text" name = "moviename"  id="moviename">
    <input type = "submit" value="submit"> <a href="/">Home</a>
</form>